@font-face {
  font-family: 'Ketchum';
  src: url('../fonts/Ketchum Italic.otf');
}

body {
  font-family: 'Ketchum', sans-serif;
  font-size: 2em;
}

.pokedex-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.pokedex-display {
  position: absolute;
}

.pokedex-display-container {
  padding: 15px 0px;
  text-align: center;
  background-color: white;
  width: 320px;
  height: 305px;
  position: relative;
  margin-right: 410px;
  margin-top: 154px;
}

.pokedex-display-container img {
  height: 170px;
  display: block;
  margin: 0 auto;
}

hr {
  margin: 10px 0 0 0;
}

#id {
  float: left;
  font-size: 0.9em;
  margin-top: 8px;
  margin-left: 3px;
}

#name {
  float: right;
  font-size: 1.2em;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0;
  width: 75%;
}

#type {
  font-size: 0.6em;
  clear: both;
}

#height-label, #weight-label {
  font-size: 0.5em;
  color: #555;
  margin: 3px 0;
}

#height {
  float: left;
  font-size: 0.8em;
  margin-left: 35px;
}

#weight {
  float: right;
  font-size: 0.8em;
  margin-right: 35px;
}